*{ margin: 0; padding: 0;}
ul,ol{ list-style: none;}
img{ display: block;}
a{ text-decoration: none; color: #646464;}
h1,h2,h3{ font-size: 16px;}
body{ font-family: Arial;}

.l{ float: left;}
.r{ float: right;}
.clear:after{ content: ""; display: block; clear: both;}
.container{ width: 1080px; margin: 0 auto; position: relative;}
.container-fluid{ width: 100%;}

#head{ height: 81px;}
#head .head_logo{ width: 162px; height: 44px; margin-top: 19px;}
#head .head_menu{ font-size: 14px; line-height: 81px;}
#head .head_menu li{ float: left; margin-left: 55px;}

#foot{ background: #66c5b4;}
#foot .container{ width: 1080px;height: 54px; line-height: 54px; color: white; font-size: 12px;}
#foot .container a{ color: white; margin: 0 10px;}

.area_title{ margin-top: 60px; text-align: center;}
.area_title h2{ height: 20px; line-height: 20px; font-size: 20px; color: #363636; font-family: Adobe Heiti Std R; background: url(../imgs/title_bg.png) no-repeat center; font-weight: normal;}
.area_title p{line-height: 34px; font-size: 14px; color: #9F9F9F;}